// SPDX-License-Identifier: GPL-2.0-only
/*
 * Apple A13 / T8030 bootstrap device tree.
 *
 * Only hardware used by the current D421 boot is described here.
 */

#include <dt-bindings/interrupt-controller/apple-aic.h>
#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/phy/phy.h>

/ {
	#address-cells = <2>;
	#size-cells = <2>;

	aliases {
		serial0 = &uart0;
	};

	clkref: clock-ref {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <24000000>;
	};

	memory@800000000 {
		device_type = "memory";
		reg = <0x8 0 0 0>; /* To be filled by loader */
	};

	cpus {
		#address-cells = <2>;
		#size-cells = <0>;

		cpu@0 {
			compatible = "apple,thunder";
			device_type = "cpu";
			reg = <0x0 0x0>;
			enable-method = "spin-table";
			cpu-release-addr = <0 0>;
		};

		cpu@1 {
			compatible = "apple,thunder";
			device_type = "cpu";
			reg = <0x0 0x1>;
			enable-method = "spin-table";
			cpu-release-addr = <0 0>;
		};

		cpu@2 {
			compatible = "apple,thunder";
			device_type = "cpu";
			reg = <0x0 0x2>;
			enable-method = "spin-table";
			cpu-release-addr = <0 0>;
		};

		cpu@3 {
			compatible = "apple,thunder";
			device_type = "cpu";
			reg = <0x0 0x3>;
			enable-method = "spin-table";
			cpu-release-addr = <0 0>;
		};

		cpu@10100 {
			compatible = "apple,lightning";
			device_type = "cpu";
			reg = <0x0 0x10100>;
			enable-method = "spin-table";
			cpu-release-addr = <0 0>;
		};

		cpu@10101 {
			compatible = "apple,lightning";
			device_type = "cpu";
			reg = <0x0 0x10101>;
			enable-method = "spin-table";
			cpu-release-addr = <0 0>;
		};
	};

	timer {
		compatible = "arm,armv8-timer";
		interrupt-parent = <&aic>;
		interrupt-names = "phys", "virt", "hyp-phys", "hyp-virt";
		interrupts = <AIC_FIQ AIC_TMR_GUEST_PHYS IRQ_TYPE_LEVEL_HIGH>,
			     <AIC_FIQ AIC_TMR_GUEST_VIRT IRQ_TYPE_LEVEL_HIGH>,
			     <AIC_FIQ AIC_TMR_HV_PHYS IRQ_TYPE_LEVEL_HIGH>,
			     <AIC_FIQ AIC_TMR_HV_VIRT IRQ_TYPE_LEVEL_HIGH>;
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;
	};

	soc {
		compatible = "simple-bus";
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;
		nonposted-mmio;
		interrupt-parent = <&aic>;

		pmgr: power-management@23b000000 {
			compatible = "apple,t8030-pmgr", "apple,t8103-pmgr",
				     "syscon", "simple-mfd";
			reg = <0x2 0x3b000000 0x0 0x100000>;
			#address-cells = <1>;
			#size-cells = <1>;
		};

		aic: interrupt-controller@23b100000 {
			compatible = "apple,t8030-aic", "apple,aic";
			reg = <0x2 0x3b100000 0x0 0x8000>;
			#interrupt-cells = <3>;
			interrupt-controller;
		};

		pinctrl_ap: pinctrl@23c100000 {
			compatible = "apple,t8030-pinctrl",
				     "apple,t8103-pinctrl";
			reg = <0x2 0x3c100000 0x0 0x100000>;

			gpio-controller;
			#gpio-cells = <2>;
			gpio-ranges = <&pinctrl_ap 0 0 212>;
			apple,npins = <212>;

			interrupt-controller;
			#interrupt-cells = <2>;
			interrupts = <AIC_IRQ 131 IRQ_TYPE_LEVEL_HIGH>,
				     <AIC_IRQ 132 IRQ_TYPE_LEVEL_HIGH>,
				     <AIC_IRQ 133 IRQ_TYPE_LEVEL_HIGH>,
				     <AIC_IRQ 134 IRQ_TYPE_LEVEL_HIGH>,
				     <AIC_IRQ 135 IRQ_TYPE_LEVEL_HIGH>,
				     <AIC_IRQ 136 IRQ_TYPE_LEVEL_HIGH>,
				     <AIC_IRQ 137 IRQ_TYPE_LEVEL_HIGH>;
		};

		wdt: watchdog@23d2b0000 {
			compatible = "apple,t8030-wdt",
				     "apple,t8103-wdt";
			reg = <0x2 0x3d2b0000 0x0 0x4000>;
			clocks = <&clkref>;
			interrupts = <AIC_IRQ 237 IRQ_TYPE_LEVEL_HIGH>;
		};

		uart0: serial@235200000 {
			compatible = "apple,s5l-uart";
			reg = <0x2 0x35200000 0x0 0x4000>;
			reg-io-width = <4>;
			interrupts = <AIC_IRQ 435 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&clkref>, <&clkref>;
			clock-names = "uart", "clk_uart_baud0";
		};

		usb2phy: phy@239000060 {
			compatible = "apple,t8030-ausb-phy", "apple,ausb-phy";
			reg = <0x2 0x39000060 0x0 0x20>;
			#phy-cells = <1>;
			power-domains = <&ps_usbctl>;
			status = "disabled";
		};

		usb_dart0: iommu@239024000 {
			compatible = "apple,t8103-dart";
			reg = <0x2 0x39024000 0x0 0x4000>;
			interrupts = <AIC_IRQ 501 IRQ_TYPE_LEVEL_HIGH>;
			#iommu-cells = <1>;
			power-domains = <&ps_usbctl>;
			status = "disabled";
		};

		usb_dart1: iommu@239028000 {
			compatible = "apple,t8103-dart";
			reg = <0x2 0x39028000 0x0 0x4000>;
			interrupts = <AIC_IRQ 501 IRQ_TYPE_LEVEL_HIGH>;
			#iommu-cells = <1>;
			power-domains = <&ps_usb2dev>;
			status = "disabled";
		};

		usb_drd: usb@239010000 {
			compatible = "apple,t8030-dwc3", "apple,t8103-dwc3";
			reg = <0x2 0x39010000 0x0 0xcd00>,
			      <0x2 0x3901cd00 0x0 0x3200>;
			reg-names = "dwc3-core", "dwc3-apple";
			interrupts = <AIC_IRQ 497 IRQ_TYPE_LEVEL_HIGH>;
			iommus = <&usb_dart0 3>, <&usb_dart1 3>;
			power-domains = <&ps_usb31drd>;
			resets = <&ps_usb31drd>;
			phys = <&usb2phy PHY_TYPE_USB2>;
			phy-names = "usb2-phy";
			status = "disabled";
		};
	};
};

#include "t8030-pmgr.dtsi"
